.business-card img{
  width: 100%;
  margin: 0 0 1rem;
  border-radius: 4%;
}

.business-card .business-card-portfolio a{
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

.business-card .business-card-portfolio a:hover{
  color: grey;
}
  
.business-card h1{
  color: #ffffff;
  margin: 1rem auto 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
  
.business-card h3{
  color: #F3BF99;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.social-link{
  margin: 1rem;
}
    